body {
  margin: 0;
  font-family: "Monda", sans-serif;
  font-weight: 700;
}

nav {
  margin: 0 0 0 10px;
  position: fixed;
  background: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

nav a {
  padding: 15px 15px;
  text-decoration: none;
  font-size: 26px;
  color: #ebebe7;
}

nav a:hover {
  padding: 15px 26px;
  color: #b4b4b2;
  transition: all 0.3s;
}

.background {
  background: url("img/2.jpg");
  background-repeat: no-repeat;
  background-position: 10% 55%;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.title {
  position: absolute;
  color: #ebebe7;
  left: 2%;
  top: 35%;
}

.first-word {
  margin: 0;
  font-size: 64px;
}

.sec-word {
  line-height: 0.9;
  margin: 0;
  font-size: 106px;
  padding-left: 4rem;
}

.ani-1 {
  animation: welcome 1.5s infinite;
}

.ani-2 {
  animation: welcome 1.5s infinite;
  animation-delay: 0.5s;
}

.ani-3 {
  animation: welcome 1.5s infinite;
  animation-delay: 1s;
}

@keyframes welcome {
  0% {
    color: #ebebe7;
  }
  100% {
    color: transparent;
  }
}
